<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/fragments/head :: head"></head>


<body class="">
  <div class="wrapper ">
		<div th:replace="user/fragments/sidebar :: sidebar"></div>

    <div class="main-panel">
		<div th:replace="user/fragments/navbar :: navbar"></div>



      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Transaction history</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Transaction ID
                      </th>
                      <th>
                      	From
                      </th>
                      <th>
                      	To
                      </th>
                      <th>
                      	Date
                      </th>
                      <th>
                      	Amount
                      </th>
                      <th class="text-right">
                        Status
                      </th>
                    </thead>
                    <tbody>
                      <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.id} "></td>
                        <td th:text="${transaction.from} "></td>
                        <td th:text="${transaction.to} "></td>
                        <td th:text="${transaction.time} "></td>
                        <td th:text="${transaction.amount} "></td>
                        <td th:text="${transaction.status} " class="text-right"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

		<div th:replace="user/fragments/footer :: footer"></div>

    </div>
    </div>
		<div th:replace="user/fragments/scripts :: scripts"></div>

</body>

</html>





