<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="employee/fragments/head :: head"></head>

<body id="page-top">
  <nav th:replace="employee/fragments/navbar :: navbar"></nav>
  <div id="wrapper">
    <div th:replace="employee/fragments/sidebar :: sidebar"></div>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Declined transactions</a>
          </li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Declined transactions</div>
          <div class="card-body">
            <div class="table-responsive">
            <label>Search</label>
            <input type="text" placeholder="Search" id="myInput" onkeyup="search()" title="Search for a name"/>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.amount}"></td>
                	<td th:text="${transaction.from}"></td>
                	<td th:text="${transaction.to}"></td>
                	<td th:text="${transaction.time}"></td>
                	<td th:text="${transaction.status}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->


  <!-- Bootstrap core JavaScript-->
  <nav th:replace="employee/fragments/scripts :: scripts"></nav>

  
<script>
$(".changeState").on('click', function() {
	var id = $(this).parent().find("input[type='hidden']").val();
	var stat=$(this).val();

    $.ajax({
        type:"post",
        data: { tId: id, status: stat},
        headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
        url:"/approveTransaction",
        dataType: "json",
        success: function(data){
        	if(data==1)
                window.location.href = '/user/home'; 
        	if(data==-1)
                window.location.href = '/user/home';         }
    });

});
</script>
</body>
</html>
