<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Paper Dashboard 2 by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- CSS Files -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/paper-dashboard.css?v=2.0.0}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="  crossorigin="anonymous"></script>

</head>

<body>

    <div th:each="transaction : ${transactions}">
    <div th:text="${transaction.amount}"></div>
    <div th:text="${transaction.from}"></div>
    <div th:text="${transaction.to}"></div>
    <div th:text="${transaction.time}"></div>
    <div th:text="${transaction.id}"></div>
        <form name="aprv" th:action="@{/approveTransaction}" method="post">
        	<input type="hidden" th:value="${transaction.id}"/>
 			<input class="changeState" type="button" value="Approve"/>
 			<input class="changeState" type="button" value="Disapprove"/>
 		</form>
 		<br/>
    </div>

</body>
<script>
$(".changeState").on('click', function() {
	var id = $(this).parent().find("input[type='hidden']").val();
	var stat=$(this).val();

    $.ajax({
        type:"post",
        data: { tId: id, status: stat},
        headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
        url:"/approveTransaction",
        dataType: "json",
        success: function(data){
        	if(data==1)
                window.location.href = '/user/home'; 
        	if(data==-1)
                window.location.href = '/user/home';         }
    });

});
</script></html>